<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bj.Essentials" version="2.1.5977.33763" targetFramework="net451" />
  <package id="Bj.Essentials.Contracts" version="2.1.5977.33974" targetFramework="net451" />
  <package id="Bj.Essentials.Proxies" version="2.3.5977.34402" targetFramework="net451" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.Net.Compilers" version="1.0.0" targetFramework="net452" developmentDependency="true" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
</packages>