.itemImg img {
    width: 100%;
    height:180px;
}
.itemTitle
{
    text-align:center;
}
.itemModelNum
{
     text-align:center;
      font-size:smaller;
}
.email{
    font-size:smaller;
    width:50%;
    float:left;
    position:relative;
    text-align:center;
}
.email
{
    text-align:right;
    padding-right:10%;
}

.ui-dialog-osx {
  -moz-border-radius: 0 0 8px 8px;
  -webkit-border-radius: 0 0 8px 8px;
  border-radius: 0 0 8px 8px;
  border-width: 0 8px 8px 8px;
}

.validateTips{
    padding-top:20px;
}

.addToWishList
{
    background: url('http://i1.adis.ws/i/bji/TexacraftPlus') no-repeat top left;
     display: block;
     text-indent: 24px; /* hides the link text */
}